
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gradientBackground {
  background-color: #f8e300;
  background-image: linear-gradient(90deg, #f1be48 0%, #c8102e 100%);
}
.gradientBackground2 {
  background-color: "#FFFFFF";
  background-image: linear-gradient(90deg, #a9a9a9 0%, #1942b3 30%);
}
.redBack {
  background-color: #c8102e;
}

.border-bottom {
  border-bottom: 2px solid #f1be48; /* Adjust color and width as needed */
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.head_text_sec {
  @apply mt-5 text-2xl font-extrabold leading-[1.00] text-gray-600 sm:text-6xl;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

/* .logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
} */

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.desc {
  @apply mt-5 text-lg text-black sm:text-xl max-w-2xl;
}

.centered-text {
  text-align: left;
  margin-left: 3vw;
}
/* //content: "\26A1"; */

.lightning-effect {
  color: white;
  /* Add other styles as needed */
}

.slidingText {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.slideIn {
  opacity: 1;
  transform: translateX(0);
}

.check {
  border-width: 2px;
  border-color: #e3342f; /* Red color, you can adjust the color code as needed */
  border-style: solid;
}

.ambientBackground {
  background-image: url("/public/webb-dark.png");
}

.background-container {
  background-image: url("/public/beanstalk-dark.webp");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to fill the entire viewport */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.metal-border {
  border: 10px solid transparent; /* Set border width */
  background-image: url("../public/metal1.jpeg"); /* Set the metal texture image */
  background-origin: border-box; /* Set the background origin to the border box */
  background-clip: padding-box; /* Clip background to padding box */
  padding: 10px; /* Add padding if needed */
  display: inline-block; /* Make sure the border surrounds the content */
}

.scroll-container {
  flex: 1; /* Use remaining available space */
  overflow: hidden; /* Hide overflow for the main content */
}

.card-grid-container {
  height: 100%; /* Set a fixed height for the scrollable area */
  overflow: auto; /* Allow scrolling within the container */
}

video {
  pointer-events: none;
}
